<section class="oe_container">
    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_span12">
            <h2 class="oe_slogan">App Odoo Customize</h2>
            <div class="oe_demo" style=" margin: 30px auto 0; padding: 0 15px 0 0; border:none; width: 96%;">
                <p>This moduld allows user to quickly customize and debranding Odoo.</p>
                <br>
                <ul>
                    <li>1.Deletes Odoo label in footer</li>
                    <li>2.Replaces "Odoo" in Windows title</li>
                    <li>3.Customize Documentation, Support, About links and title in usermenu</li>
                    <li>4.Adds "Developer mode" link to the top right-hand User Menu.</li>
                    <li>5.Adds Quick Language Switcher to the top right-hand User Menu.</li>
                    <li>6.Adds Country flags to the top right-hand User Menu.</li>
                    <li>7.Adds English and Chinese user documentation access to the top right-hand User Menu.</li>
                    <li>8.Adds developer documentation access to the top right-hand User Menu.</li>
                    <li>9.Customize "My odoo.com account" button</li>
                    <li>10.Standalone setting panel, easy to setup.</li>
                    <li>11.Provide 236 country flags.</li>
                    <li>12.Multi-language Support.</li>
                    <li>13.Change Powered by Odoo in login screen.(Please change '../views/app_odoo_customize_view.xml' #15)</li>
                    <li>14.Quick delete test data in Apps: Sales/POS/Purchase/MRP/Inventory/Accounting/Base Models.</li>
                    <li>15.Reset All the Sequence to beginning of 1: SO/PO/MO/Invoice...</li>
                </ul>
                <p>
                This module can help to white label the Odoo.
                Also helpful for training and support for your odoo end-user.<br/>
                <!-- The user can get the help document just by one click. -->
                </p>
            </div>

           <!--  <div class="oe_demo oe_screenshot">
                <img src="cnreadme.png" style="border:1px solid black"/>
                <br/>
            </div> -->
        </div>
    </div>


   <!--  <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Odoo Customize(Debranding Title,Language,Documentation,Quick Debug)</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="banner.png" style="border:1px solid black"/>
            <br/>
            <img src="set3.png" style="border:1px solid black"/>
            <br/>
        </div>
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Multi-language support: Chinese ready</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="set11.png" style="border:1px solid black"/>
            </br>
            <img src="set12.png" style="border:1px solid black"/>
            <br/>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo"
             style=" argin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%; ">
            <h2 class='oe_mt32'>How to use: Go to Settings -> IQMinds Settings</h2>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="set1.png" style="border:1px solid black"/>
            <br/>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Setup more flags: just rename the flag pic to locale code of the country</h2>
            <p>You can find the pictures in "\app-odoo\app_odoo_customize\static\src\img\flags"</p>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="set2.png" style="border:1px solid black"/>
            <br/>
        </div>
    </div>

    <div class="oe_row oe_spaced" style="max-width: 800px;">
        <div class="oe_demo"
             style="margin: 20px auto; padding: 0 15px 0 0; border:none; border-top:solid 1px #dedede; width: 96%;">
            <h2 class='oe_mt32'>Quick Delete test Data.</h2>
            <p>You can quickly delete all the test data in Apps: Sales/POS/Purchase/MRP/Inventory/Accounting/Message/Workflow etc.</p>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="set3.png" style="border:1px solid black"/>
            <br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <h2 class="oe_slogan">Technical Help & Support</h2>
        </div>
        <div class="col-md-12 pad0">
            <div class="oe_mt16">
                <p><h4>
                For any type of technical help & support requests, Feel free to contact us</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:guohuadeng@hotmail.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> guohuadeng@hotmail.com</a>
                <p><h4>
                Via QQ: 300883</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="mailto:300883@qq.com"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-envelope"></i> 300883@qq.com</a>
            </div>
            <div class="oe_mt16">
                <p><h4>
                Visit our website for more support.</h4></p>
                <a style="background: #002e5a  none repeat scroll 0% 0%; color: rgb(255, 255, 255);position: relative; overflow: hidden;"
                   class="btn btn-warning btn-lg" rel="nofollow" href="http://www.sunpop.cn" target="_blank"><span
                        style="height: 354px; width: 354px; top: -147.433px; left: -6.93335px;" class="o_ripple"></span>
                    <i class="fa fa-web"></i>http://www.sunpop.cn</a>
            </div>
        </div>
    </div> -->
</section>

